
<body> 
    <form action="action_page.php" method="post">
        <h1>Reset Password</h1>
        <div class="container">
    <label for="psw"><b>Enter you OTP number</b></label>
    <input type="password" placeholder="OTP number" name="password" required >

    <label for="psw"><b>Enter New Password</b></label>
    <input type="password" placeholder="Enter new Password" name="password" required >
  
    <label for="psw"><b>Confirm New Password</b></label>
    <input type="password" placeholder="Repeat new Password" name="confirm" required >

    <button type="submit" >Send</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
    </div>

    </form>
</body>