<body class="bg-gradient-primary">
    <div class="container">
  
      <div class="card o-hidden border-0 shadow-lg my-5">
        
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form class="user">
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" id="first-name" placeholder="First Name">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" id="last-name" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="email" placeholder="Email Address">
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" id="contact " placeholder="Contact number">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" id="username" placeholder="User Name">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                    </div>
                    <div class="col-sm-6">
                      <input type="password" class="form-control form-control-user" id="confirm-password" placeholder="Confirm password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Product Description</label>
                    <textarea class="form-control" id="prod-desc" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Quantity</label>
                    <textarea class="form-control" id="quantity" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Address</label>
                    <textarea class="form-control" id="quantity" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="file">Upload your ID copy</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                  <a href="login.html" class="btn btn-primary btn-user btn-block">
                    Register Account
                  </a>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Register with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgotPassword.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="login.html">Already have an account? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </body>  



