  <!--
        <h1> PLACE YOUR ORDER </h1>
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-50">
                                <h3>Billing Address</h3>
        <label for="fname"><i class="fa fa-user"></i>Full Name</label>
        <input type="text" id="fname" name="firstname"  placeholder="your name">

        <label for="email"><i class="fa fa-envelope">Email</i></label>
        <input type="text" id="email" name="email" placeholder="sosomeone@example.com">

        <label for="Address"><i class="fa fa-address-caed-o">Address</i></label>
        <input type="text" id="address" name="address" placeholder="175 Noth street">

        <label for="city"><i class="fa fa-user">city</i></label>
        <input type="text" id="city" name="city" placeholder="Pretoria">

        
        <div class="row"> 
            <div class="col-50">
                <label for="Province">Province</label>
                <input type="text" id="province" name="province" placeholder="Limpopo">
            </div>
            <div class="col-50">
                <label for="code">Postal Code</label>
                <input type="text" id="code" name="code" placeholder="0001">
            </div>
        </div>
    </div>
    
    <div class="col-50">
        <h3>Payment</h3>
        <label for="fname">Accepted Card</label>
        <div>
            <i class="fa fa-cc-visa" style="color: navy;"></i>
            <i class="fa fa-cc-amex" style="color: blue;"></i>
            <i class="fa fa-cc-mastercard" style="color: red;"></i>
            <i class="fa fa-cc-discover" style="color: orange;"></i>
        </div>
        <label for="cname">Name on Card</label>
        <input type="text" id="cname" name="cardnumber" placeholder="John More Done">

        <label for="ccname">Postal Code</label>
        <input type="text" id="ccname" name="cardnumber" placeholder="1111-2222-3333-4444">

        <label for="expmonth">Exp Month</label>
        <input type="text" id="expmonth" name="expmonth" placeholder="December">
        <div class="row">
            <div class="col-50">
                <label for="expyaer">Exp Year</label>
                <input type="text" id="expyaer" name="expyaer" placeholder="2020">  
            </div>
            <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="535">  
            </div>   
        </div>
    </div> 
    <label>
        <input type="checkbox" checked="checked" name="sameadr"> Shipping Address same as billing
    </label>
    <input type="submit" value="Continue To Checkout" class="btn" (click)="placeOrder();">
                        </div>
                    </form>
                </div>
            </div>
            
        </div>

-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
<h1> PLACE YOUR ORDER </h1>
<div class="row">
    <div class="col-75">
        <div class="container">
        <form #values="ngForm">
            <div class="col-75">
                <div class="container">
                    <h3>Billing Address</h3>
            <div class="form-group">
              <label for="exampleInputEmail1" ><i class="fa fa-user"></i> Full Name</label>
              <input type="text" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" name="name" [(ngModel)]="orderData.fullName" placeholder="your name">
            </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="email" [(ngModel)]="orderData.email" placeholder="sosomeone@example.com"> 
              </div>
            
              <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-phone"></i> Phone</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone" [(ngModel)]="orderData.phoneNo" placeholder="085 666 0945">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-address-card-o"></i> Address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="address" [(ngModel)]="orderData.address" placeholder="175 Noth street">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1"><i class="fa fa-institution"></i> City</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="city" [(ngModel)]="orderData.city" placeholder="Pretoria">
              </div>

              <div class="form-group">
                <div class="row"> 
                    <div class="col-50">
                <label for="exampleInputEmail1">Province</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="province" [(ngModel)]="orderData.province" placeholder="Limpopo">
              </div>
            </div>
        </div>
        

              <div class="form-group">
                <div class="row"> 
                <div class="col-50">
                <label for="exampleInputEmail1">Code</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="code" [(ngModel)]="orderData.code"  placeholder="0001">
              </div>
            </div>
        </div>
      

            <button type="submit" class="btn btn-primary" (click)="placeOrder()">Submit</button>
        </div>
    </div>
          </form> 

          </div>  
        </div>
     </div> 


     <!---------------------------------------------------------------------->

     
     
    </body>
     </html>
        <!---------------------------
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone </th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let order of orders'>
                <th >{{order.fullName}}</th>
                <td>{{order.email}}</td>
                <td>{{order.phoneNo}}</td>
                <td>{{order.address}}</td>
              </tr>
            </tbody>
          </table>  
        ----------------------->