<div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-2">
        <div class="card" style="width:300px">
          

<div class="col-md-2">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0084/6236/8865/products/Rose_Gold_Bridesmaid_Box_1060x_1_1200x1200.jpg?v=1557591329" width="280px" >
      <div class="card-body">
        <h4 class="card-title text-info">Bride's maid</h4>
        <p class="card-text text-success ">The high quality box in market</p>
        <P>
          <strong>price: </strong>R550
        </P>
        
        <button class="btn btn-outline-secondary btn btn-outline-danger " >add to wishlist</button>          </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSS6Eh8vx_i0BKbMJ05p4LYQ-nIN3k3wQrin6OCZb0YKl7ZRuS2" width="280px" >
      <div class="card-body">
        <h4 class="card-title text-info">Birthday box</h4>
        <p class="card-text text-success ">The high quality box in market</p>
        <P>
          <strong>price: </strong>R180
        </P>
        
        <button class="btn btn-outline-secondary btn btn-outline-danger " >add to wishlist</button>          </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="https://media.cardfactory.co.uk/125440/images/products/37/26537/rwf/flat-pack-medium-gift-box---black-and-white-polka-dots_a.jpg?width=325" width="280px" >
      <div class="card-body">
        <h4 class="card-title text-info">Black box</h4>
        <p class="card-text text-success ">The high quality box in market</p>
        <P>
          <strong>price: </strong>R800
        </P>
        
        <button class="btn btn-outline-secondary btn btn-outline-danger ">add to wishlist</button>          </div>
    </div>
  </div>


  <button type="submit" class="Checkout" (click)= "submitCart()" >Checkout</button>