<form action="/action_page.php" class="was-validated">
  <div class="container" >
    <div class="container" style="background-color:#f1f1f1">

<body>

    <label for="uname"><b>Username</b></label>
   <input required ngModel name= "firstname" minlength="3" maxlength="20" #firstname = "ngModel" type="text" class="form-control form-control-user" id="firstname" placeholder="First Name" >
                       <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
                         <div *ngIf="firstname.errors.required"> First name is required</div>
                         <div *ngIf="firstname.errors.minlength">Your first name must be more than 3 characters! </div>
                        </div>
                         

                                           <label for="uid"><b>ID Number</b></label>
                                           <input required ngModel name= "id" minlength="13" maxlength="13" #id = "ngModel" type="text " class="form-control form-control-user" id="ID" placeholder="ID" >
                                           <div class="alert alert-danger" *ngIf="id.touched && !id.valid">
                                               <div *ngIf="firstname.errors.required"> ID is required</div>
                                               <div *ngIf="firstname.errors.minlength">Your ID should have 13 digits! </div>
                                            </div>
                        
                        <div class="form-group">
                          <label for="uemail"><b>Email</b></label>
                          <input type="text" class="form-control" id="uemail" placeholder="Enter username" name="uemail" required>
                          <div class="valid-feedback">Valid.</div>
                          <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                         
                        <label for="psw"><b>Password</b></label>
                        <input required ngModel name="password" minlength="8" #password = "ngModel" type="password" class="form-control form-control-user" id="password" placeholder="Password" >
                        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                             <div *ngIf="password.errors.required"> Password is required</div>
                             <div *ngIf="password.errors.minlength">Your password must have more that 8 characters !</div>
                        </div>
   
   

                          <label for="pwd-repeat"><b> Confirm Password</b></label>
                           <input required ngModel name="confirmpassword" #confirmpassword = "ngModel" type="password" class="form-control form-control-user" id="confirmpassword" placeholder="Confirm password">
                             <div class="alert alert-danger" *ngIf="confirmpassword.touched && !confirmpassword.valid">
                             <div *ngIf="confirmpassword != password">Passwords don't match</div>
                          </div>
  
                        
  
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I accept the Terms of Service.
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label> 
    </div>


      <a href="login.html" class="btn btn-primary btn-user btn-block">
                                  Register Account
                                  </a>

    <!--<button type="submit">Register</button>-->

    <div class="container ">
  <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
    </div>

  
  </body>
  </div>
  </div>

</form> 





       
      
     
 