<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: burlywood;">
  <a class="navbar-brand" href="#">GiftBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="width: 1000px;">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li><a href="/register"><i class="fa fa-shopping-basket"></i>Cart</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Wedding</a>
          <a class="dropdown-item" href="#">Birthdays</a>
          <a class="dropdown-item" href="#">Baby Shower</a>
      
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Customize your box</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Policy</a>
      </li>
      
      <div class="btn">
      <button type="submit" (click)= "loginClick()">Sing In</button>
    </div>
    <div class="btn">
      <button type="submit" (click)= "registerClick()">Sing Up</button>
    </div>
    </ul>
    
  </div>
</nav>
<!--
  <div class="top-nav-bar">
    <div class= "search-box">
      <i class="fa fa-bars" ></i>
      <i class="fa fa-times" ></i>

        <img src ="assets/img/59915023-gift-box-logo.jpg" class="logo">
        <input type="text" class="form-control">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <div class="menu-bar">
        <ul>
            <li><a href="#"><i class="fa fa-shopping-basket"></i>Cart</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </div>
</div>
-->