
<body>
    <form action="action_page.php" method="post">
        <h1>Forgot Password</h1>
        <div class="container">
            <label for="email">Enter Your Email Address</label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <button type="submit"  (click)=  "submitEmailClick()">Send</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            </div>
    </form>
</body>


<!--[(ngModel)]="registerData.email"-->