<form action="/action_page.php" class="was-validated">
  <div class="container">
    <div class="container" style="background-color:#f1f1f1">

    <label for="uname"><b>Username</b></label>
    <input required ngModel name= "firstname" minlength="3" maxlength="20" #firstname = "ngModel" type="text" class="form-control form-control-user" id="firstname" placeholder="First Name" >
                        <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
                          <div *ngIf="firstname.errors.required"> User name is required</div>
                          <div *ngIf="firstname.errors.minlength">Your first name must have more than 3 characters! </div>
                         </div>
  
                         
                         <label for="psw"><b>Password</b></label>
                         <input required ngModel name="password" minlength="8" #password = "ngModel" type="password" class="form-control form-control-user" id="password" placeholder="Password" >
                         <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                              <div *ngIf="password.errors.required"> Password is required</div>
                              <div *ngIf="password.errors.minlength">Your password must have more that 8 characters !</div>
                         </div>

                        
                         <a href="login.html" class="btn btn-primary btn-user btn-block">
                          login
                          </a>
                         
    <label>
      
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
 

  <div class="container" style="background-color:#f1f1f1">
    <a routerLink="/register">Click here to register</a>
  </div>
<div class="container" style="background-color:#f1f1f1">
  <button type="button" class="cancelbtn">Cancel</button>
  <span class="psw">Forgot <a href="#">password?</a></span>
</div>
</div>
</form> 




       
      
     
 