<!--<html>
    <body>
        
        <div class="login-box">
            <h1>LOGIN</h1>
            <div class="textbox">
            <label for="username">Username</label>
            <input type="text" id="password" placeholder="Username" name="" value="">
          </div>
          
            <div class="textbox">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password" name="" value="">
            </div>

            <input class="btn" type="button" name="" value="Sign in">
            </div>

    </body>


</html>-->
<body>
<form action="action_page.php" method="post">
    <div class="imgcontainer">
      
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      
      <button type="submit">Login</button>
    
      <label>
        
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <a routerLink="/register">clickhere to register</a>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a routerLink="./ForgotPassword">password?</a></span>
    </div>
  </form>
</body>